* {
    box-sizing: border-box;
    padding: 0;
}

html {
    font-size: 10px;
}

body {
    display: flex;
    flex-flow: row-reverse wrap;
    align-items: center;
    justify-content: space-between;
    height: 100svh;
    background-color: #121212;
    font-family: Helvetica, sans-serif;
}

.h1-wrapper {
    border: white solid 1px;
    background-color: #1F1B24;
    /* margin: auto; */
    width: fit-content;
    padding: 50px;
    border-radius: 50px;
    color: #f5f5f5;
    margin: 50px;
}

.h1-wrapper__text {
    margin: 0 auto;
    width: fit-content;
    font-size: 1.6rem;
}

.servicios {
    border: white solid 1px;
    background-color: #1F1B24;
    padding: 50px;
    border-radius: 50px;
    color: #f5f5f5;
    font-size: 1.6rem;
    position: relative;
    margin: 50px;
}

.servicios__texto {
    text-decoration: underline;
}


.servicios__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px;
}